@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.center {
    text-align: center;
    background-color:#c94418;
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}
 
.logo{
    border-radius: 50px;
    width: 90px;
    margin-left: 5px;
}
.container{
    display: flex;
 width: 100%;

    justify-content: space-between;
}
.column{
  
  padding:20px;
  background-color: #c94418;
  border: 1px solid #000000;
  text-align: center;  
}